IfService/src/main/webapp/wsdl/BankService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service" xmlns:intf="http://service" xmlns:tns1="http://models" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://models"/>
   <element name="description">
    <complexType/>
   </element>
   <element name="descriptionResponse">
    <complexType>
     <sequence>
      <element name="descriptionReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="hasFunds">
    <complexType>
     <sequence>
      <element name="id" type="xsd:int"/>
      <element name="value" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="hasFundsResponse">
    <complexType>
     <sequence>
      <element name="hasFundsReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="removeFunds">
    <complexType>
     <sequence>
      <element name="id" type="xsd:int"/>
      <element name="value" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="removeFundsResponse">
    <complexType/>
   </element>
   <element name="getClients">
    <complexType/>
   </element>
   <element name="getClientsResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getClientsReturn" type="tns1:BankClient"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://models" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="BankClient">
    <sequence>
     <element name="balance" type="xsd:double"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="removeFundsResponse">

      <wsdl:part element="impl:removeFundsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getClientsRequest">

      <wsdl:part element="impl:getClients" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="removeFundsRequest">

      <wsdl:part element="impl:removeFunds" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="descriptionRequest">

      <wsdl:part element="impl:description" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="hasFundsRequest">

      <wsdl:part element="impl:hasFunds" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getClientsResponse">

      <wsdl:part element="impl:getClientsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="descriptionResponse">

      <wsdl:part element="impl:descriptionResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="hasFundsResponse">

      <wsdl:part element="impl:hasFundsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="BankService">

      <wsdl:operation name="description">

         <wsdl:input message="impl:descriptionRequest" name="descriptionRequest">

       </wsdl:input>

         <wsdl:output message="impl:descriptionResponse" name="descriptionResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="hasFunds">

         <wsdl:input message="impl:hasFundsRequest" name="hasFundsRequest">

       </wsdl:input>

         <wsdl:output message="impl:hasFundsResponse" name="hasFundsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="removeFunds">

         <wsdl:input message="impl:removeFundsRequest" name="removeFundsRequest">

       </wsdl:input>

         <wsdl:output message="impl:removeFundsResponse" name="removeFundsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getClients">

         <wsdl:input message="impl:getClientsRequest" name="getClientsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getClientsResponse" name="getClientsResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="BankServiceSoapBinding" type="impl:BankService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="description">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="descriptionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="descriptionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="hasFunds">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="hasFundsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="hasFundsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="removeFunds">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="removeFundsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="removeFundsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getClients">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getClientsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getClientsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="BankServiceService">

      <wsdl:port binding="impl:BankServiceSoapBinding" name="BankService">

         <wsdlsoap:address location="http://localhost:8080/IfService/services/BankService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
