Bank/src/main/webapp/wsdl/BankService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://web.bank.corp.uge.fr" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://web.bank.corp.uge.fr" xmlns:intf="http://web.bank.corp.uge.fr" xmlns:tns1="http://common.bank.corp.uge.fr" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://web.bank.corp.uge.fr" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://common.bank.corp.uge.fr"/>
   <element name="description">
    <complexType/>
   </element>
   <element name="descriptionResponse">
    <complexType>
     <sequence>
      <element name="descriptionReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="removeFunds">
    <complexType>
     <sequence>
      <element name="id" type="xsd:int"/>
      <element name="value" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="removeFundsResponse">
    <complexType/>
   </element>
   <element name="hasFunds">
    <complexType>
     <sequence>
      <element name="id" type="xsd:int"/>
      <element name="value" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="hasFundsResponse">
    <complexType>
     <sequence>
      <element name="hasFundsReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="getFunds">
    <complexType>
     <sequence>
      <element name="bc" type="tns1:BankClient"/>
     </sequence>
    </complexType>
   </element>
   <element name="getFundsResponse">
    <complexType>
     <sequence>
      <element name="getFundsReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="addClient">
    <complexType>
     <sequence>
      <element name="id" type="xsd:int"/>
      <element name="value" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="addClientResponse">
    <complexType/>
   </element>
   <element name="getClientById">
    <complexType>
     <sequence>
      <element name="id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getClientByIdResponse">
    <complexType>
     <sequence>
      <element name="getClientByIdReturn" type="tns1:BankClient"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://common.bank.corp.uge.fr" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="BankClient">
    <sequence>
     <element name="id" type="xsd:int"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="descriptionRequest">

      <wsdl:part element="impl:description" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="removeFundsRequest">

      <wsdl:part element="impl:removeFunds" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="hasFundsRequest">

      <wsdl:part element="impl:hasFunds" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getFundsResponse">

      <wsdl:part element="impl:getFundsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getClientByIdResponse">

      <wsdl:part element="impl:getClientByIdResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="removeFundsResponse">

      <wsdl:part element="impl:removeFundsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addClientResponse">

      <wsdl:part element="impl:addClientResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addClientRequest">

      <wsdl:part element="impl:addClient" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getClientByIdRequest">

      <wsdl:part element="impl:getClientById" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="hasFundsResponse">

      <wsdl:part element="impl:hasFundsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getFundsRequest">

      <wsdl:part element="impl:getFunds" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="descriptionResponse">

      <wsdl:part element="impl:descriptionResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="BankService">

      <wsdl:operation name="description">

         <wsdl:input message="impl:descriptionRequest" name="descriptionRequest">

       </wsdl:input>

         <wsdl:output message="impl:descriptionResponse" name="descriptionResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="removeFunds">

         <wsdl:input message="impl:removeFundsRequest" name="removeFundsRequest">

       </wsdl:input>

         <wsdl:output message="impl:removeFundsResponse" name="removeFundsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="hasFunds">

         <wsdl:input message="impl:hasFundsRequest" name="hasFundsRequest">

       </wsdl:input>

         <wsdl:output message="impl:hasFundsResponse" name="hasFundsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getFunds">

         <wsdl:input message="impl:getFundsRequest" name="getFundsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getFundsResponse" name="getFundsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addClient">

         <wsdl:input message="impl:addClientRequest" name="addClientRequest">

       </wsdl:input>

         <wsdl:output message="impl:addClientResponse" name="addClientResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getClientById">

         <wsdl:input message="impl:getClientByIdRequest" name="getClientByIdRequest">

       </wsdl:input>

         <wsdl:output message="impl:getClientByIdResponse" name="getClientByIdResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="BankServiceSoapBinding" type="impl:BankService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="description">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="descriptionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="descriptionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="removeFunds">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="removeFundsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="removeFundsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="hasFunds">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="hasFundsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="hasFundsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getFunds">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getFundsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getFundsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addClient">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addClientRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addClientResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getClientById">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getClientByIdRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getClientByIdResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="BankServiceService">

      <wsdl:port binding="impl:BankServiceSoapBinding" name="BankService">

         <wsdlsoap:address location="http://localhost:8080/Bank/services/BankService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
